body, h1, h2, h3, div, button, span {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Chivo', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    /* background: linear-gradient(to bottom, #ff3300 0%, #ffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #ff6600;
    text-shadow: 2px 2px 4px #fff;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

  .deck .card {
    height: 125px;
    width: 125px;
    /* background: #2e3d49; */
    font-size: 0;
    /* color: #fff; */
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

    -webkit-transition: -webkit-transform 1s;
   -moz-transition: -moz-transform 1s;
   -o-transition: -o-transform 1s;
   transition: transform 1s;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform-origin: 50% 50%;
}

/* img els that are descendents of the els with class card */
.card img {
  display: block;

}

.front-card {
  background: #ff6600;
  width: 100px;
  height: 100px;
  /* background-image: url(../img/orange.jpg); */
}

 .back-card {
  font-size: 33px;
  color: #fff;
  background: #02b3e4;
  position: absolute;
  cursor: default;
  -webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
   transform: rotateY( 180deg );
}

.toggle-view {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
}

/* flip effect */
.card.flip{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* .deck .card.open {
    transform: rotateY(0deg);
    background: #02b3e4;
    cursor: default;
} */

/* .deck .card.show {
    font-size: 33px;
} */

.deck .card.match {
    cursor: default;
    background: #ffff66;
    color: #000;
    font-size: 33px;
}

.deck .card.no-match {
  background: #990000;
  /* transform: rotateY(-180deg); */
}

/*adds shake animation to cards not match  */
.no-match-shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translate(1px, -2px) rotate(-1deg);}
  10% { transform: translate(-3px, 1px) rotate(0deg);}
  20% { transform: translate(1px, 2px) rotate(0deg);}
  30% { transform: translate(3px, 2px) rotate(0deg);}
  40% { transform: translate(1px, -1px) rotate(1deg);}
  50% { transform: translate(-1px, 2px) rotate(-1deg);}
  60% { transform: translate(-1px, -2px) rotate(-1deg);}
  70% { transform: translate(3px, 1px) rotate(-1deg);}
  80% { transform: translate(-1px, -1px) rotate(1deg);}
  90% { transform: translate(-3px, 0px) rotate(1deg);}
  100% { transform: translate(1px, 1px) rotate(0deg);}
}

/* adds a grow and rotate animation when cards match */
.match-grow {
  animation: grow 1s linear 0.2s;
}

@-webkit-keyframes grow {
  from {transform: none;}
  10% {transform: rotate(10deg);}
  50% {transform: scale(2); }
  60% {transform: rotate(-10deg);}
  to {transform: none;}
}

/*
 * Styles for the Score Panel
 */
.score-panel {
    color: #000099;
    font-size: 1.5em;
    text-align: center;
    width: 85%;
    background: linear-gradient(to bottom, #ffff00 0%, #ff3300 100%);
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    display: inline-block;
    cursor: pointer;
}

/*styles for timer  */
#timer {
  margin-left: 2px;
}

#timer, #stop-watch {
  display: inline-block;
  font-size: 1em;
  color: #000099;
  margin: 0 15px 0 15px;
}

/* styles for the modal */
#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #0066ff;
  margin: 0 auto 0;
  visibility: hidden;
  z-index: 9;
  position: relative;
  bottom: 540px;
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom, #ffff00 0%, #ff3300 100%);
  border: 25px ridge #0066ff;
}

button {
  align-self: center;
  width: 35px;
  height: 35px;
  border-radius: 60px;
  background-color: #0066ff;
  color: #fff;
}

.win-score, .final-time, .star-rate {

}
